.loader {
    align-self: center;
    display: flex;
    gap: 6px;
    align-items: center;
    height: 50px;
    z-index: 999; 
}

.loader span {
    width: 6px;
    height: 100%;
    background: #1b1b1b;
    border-radius: 3px;
    animation: bars 1.2s infinite ease-in-out;
}

.loader span:nth-child(1) { animation-delay: -0.24s; }
.loader span:nth-child(2) { animation-delay: -0.12s; }

@keyframes bars {
    0%, 40%, 100% { transform: scaleY(0.4); }
    20% { transform: scaleY(1); }
}